@import "tailwindcss";
.title{
    font-family: 'Road Rage', cursive;
}
.navitems{
    font-family: 'Sour Gummy', cursive;
}
:root{
    --bg-color:#00B074;
    --paragraph-color:#666565;
    --heading:#2B3940;
    
}
.Jobpost{
    font-family: 'Sour Gummy', cursive;
}
.homeitems{
    font-family: 'Sour Gummy', cursive;
}
.loginpage{
    font-family: 'Sour Gummy', cursive;
}
.jobpost{
    font-family: 'Sour Gummy', cursive;
}
.jobs{
    font-family: 'Sour Gummy', cursive; 
}
.about{
     font-family: 'Sour Gummy', cursive; 
}